<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.titulo}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index')}}">index</a>
        <a href="{{ url_for('contacto')}}">contacto</a>

    </nav>
    <br>
    <h1>hola {{ data.encabezado}}</h1>
    {% block contenido  %}
    
    {% endblock  %}

    <script src="{{ url_for('static', filename='js/index.js')}}"></script>
</body>
</html>